<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registrar</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <form #f="ngForm" (ngSubmit)="registrar(f)">
      <ion-list>
        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" name="nome" ngModel></ion-input>
        </ion-item>      
        <ion-item>
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="email" name="email" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" name="senha" ngModel></ion-input>
        </ion-item>
        <ion-footer padding>
          <button ion-button block>Registrar</button>
          <button ion-button outline block type="button" (click)="voltar()"> Voltar</button>
        </ion-footer>
      </ion-list>
    </form>
  </ion-content>