<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="denuncia == undefined">Nova Denúncia</ion-title>
    <ion-title *ngIf="denuncia != undefined">{{denuncia.data | date: 'dd/MM/yyyy'}}</ion-title>
    <ion-buttons end>
      <button type="button" ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="salvar(f)">
  <ion-list>
    <ion-item>
      <div class="preview">
        <img *ngIf="denuncia == undefined || denuncia.imagem == undefined" src="{{foto}}" height="">
        <img *ngIf="denuncia != undefined && denuncia.imagem != undefined" [src]="denuncia.imagem" height="">
      </div>
    </ion-item>
    <ion-item>
        <button type="button" *ngIf="denuncia == undefined" ion-fab ion-only (click)="iniciarCamera()">
            <ion-icon style="font-size:34px" name="camera"></ion-icon>
        </button>
      </ion-item>
      
   

    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-textarea *ngIf="denuncia == undefined || denuncia.descricao == undefined" rows="5" name="descricao" ngModel></ion-textarea>
      <ion-textarea *ngIf="denuncia != undefined && denuncia.descricao != undefined" disabled rows="5" value="{{denuncia.descricao}}"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="denuncia == undefined || denuncia.categoria == undefined">
      <ion-label>Categoria</ion-label>
      <ion-select name="categoria" ngModel>
        <ion-option value="Risco de incêndio">Risco de incêndio</ion-option>
        <ion-option value="Árvore tocando cabos de energia">Árvore tocando cabos de energia</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="denuncia != undefined && denuncia.categoria != undefined">
      <ion-label>Categoria</ion-label>
      <ion-label>{{denuncia.categoria}}</ion-label>
    </ion-item>
    <div *ngIf="denuncia != undefined" padding>
      <a target="_blank" ion-button icon-left href="https://www.google.com/maps/place/{{denuncia.localizacao.latitude}}, {{denuncia.localizacao.longitude}}"> <ion-icon name="map"> </ion-icon> Mapa</a> 
    </div>
    <div padding>
      <button *ngIf="denuncia == undefined" class="footer" ion-button block>Enviar</button>
      <button *ngIf="denuncia != undefined" class="footer" type="button" ion-button block (click)="voltar()">Voltar</button>
    </div>
    

  </ion-list>
  </form>
</ion-content>