app-envio{
  .preview{
    height:200px;
    margin:10px 20px;
  }
  .camera-preview{
    border: 0.1cm solid black;
    height:190px;
  }
  .camera-icon{
    float:right; 
    margin-top:150px;
    margin-right:-25px;
  }
  .imagem{
    width: 100%;
    height: 100%;
    }

  .footer{
    bottom: 0;
    padding: 30px;
  }
}