page-home{
  .div-fab{
    padding-left: 5vw;
    padding-right: 5vw;
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cam-fab{
    height: 300px;
    width: 300px;
  }

  .icon-cam{
    font-size: 200px;
  }

  ion-slide.swiper-slide {
      align-items: flex-start;
  }
  .scroll{
    overflow-y: auto;
    display: block; 
    height: 70vh;
  }
  
  button.swiper-pagination-bullet-active {
	background:#f53d3d;
  }

  div.swiper-container{
    background-color:#fff6ec;
  }
}